body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Tambahkan animasi CSS */
header {
    background-color: #333;
    color: #ff0000;
    text-align: center;
    padding: 1rem;
    transition: background-color 0.3s; 
}

header:hover {
    background-color: #555;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.content {
    text-align: center;
    padding: 2rem;
}
